<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to dist" stopProcessing="true">
          <match url="^(?!dist).*$" />
          <conditions>
          </conditions>
          <action type="Rewrite" url="dist/{R:0}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
